{% comment %} CSS code for widget {% endcomment %}
{{ 'widget.css' | asset_url | stylesheet_tag }}


{% comment %} Widget body start {% endcomment %}
{% if bundleId != blank %}
  <div id="neat-bundles-widget-container" x-data="bundle">

    <div class="step-icons-container">
      <template x-for="step in bundleData.steps">
        <div class="step-icon">
          <span x-text="step.stepNumber"></span>
          <span x-text="step.title"></span>
          <span x-text="step.description"></span>
        </div>
      </template>
    </div>

  </div>
{% endif %}
{% comment %} Widget body end {% endcomment %}


{% comment %} Alpine.js import {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

{% comment %} JS code for widget {% endcomment %}
<script>
  const APP_URL = "https://sodium-snake-tommy-contributors.trycloudflare.com";

  document.addEventListener("alpine:init", () => {
    Alpine.data("bundle", () => ({
      init(){
        fetch(`${APP_URL}/api/bundleData?bundleId={{bundleId}}&storeUrl={{shop.permanent_domain}}`)
            .then(response => response.json())
            .then(data => {
              this.bundleData = data;
            })
            .catch(error => console.log('error', error));
      },

      shopDomain: "{{ shop.permanent_domain }}",
      bundleId: "{{ bundleId }}",
      bundleData: {},
      bundleInputs: [{stepId: 1, productsSelected: [], contentInputs: []}],
    }));
  });
</script>